{{ form_start(form, {'attr': {'class': 'php-email-form'}}) }}
{{ form_errors(form) }}
{{ form_widget(form._token) }}
    <div class="form-row">
        <div class="col-md-6 form-group">
            {{ form_widget(form.name, {'attr': {'placeholder': 'Votre nom'}}) }}
                <div class="validate"></div>
        </div>
        <div class="col-md-6 form-group">
            {{ form_widget(form.email, {'attr': {'placeholder': 'Votre email'}}) }}    
                <div class="validate"></div>
            </div>
        </div>
            <div class="form-group">
                {{ form_widget(form.subject, {'attr': {'placeholder': 'Indiquez un sujet'}}) }} 
                    <div class="validate"></div>
            </div>
            <div class="form-group">
                {{ form_widget(form.message, {'attr': {'placeholder': 'Ecrivez votre message', 'rows':'6'}}) }}    
                    <div class="validate"></div>
            </div>
            <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Votre message a bien été envoyé. Merci.</div>
            </div>
            <div class="text-center"><button type="submit">Envoyer</button></div>
{{ form_end(form) }}