{% block body %}
     <!-- ======= My Portfolio Section ======= -->
        <section id="portfolio" class="portfolio">
            <div class="container">

                <div class="section-title">
                    <span>Portfolio</span>
                    <h2>Portfolio</h2>
                    <p></p>
                </div>

                <ul id="portfolio-flters" class="d-flex justify-content-center">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-app">App</li>
                    <li data-filter=".filter-card">Card</li>
                    <li data-filter=".filter-web">Web</li>
                </ul>

                <div class="row portfolio-container">

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-img"><img src="{{ asset('build/images/portfolio/Blog.png') }}" class="img-fluid" alt="Mon blog"></div>
                        <div class="portfolio-info">
                            <h4>Blog</h4>
                            <p>Mon blog</p>
                            <a href="{{ asset('build/images/portfolio/Blog.png') }}" data-gall="portfolioGallery" class="venobox preview-link" title="Mon blog"><i class="bx bx-plus"></i></a>
                            <a href="#" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-img"><img src="{{ asset('build/images/portfolio/Chalet_et_Caviar.png') }}" class="img-fluid" alt="Chalet et Caviar"></div>
                        <div class="portfolio-info">
                            <h4>Chalet et Caviar</h4>
                            <p>Site web d'une agence immoblière</p>
                            <a href="{{ asset('build/images/portfolio/Chalet_et_Caviar.png') }}" data-gall="portfolioGallery" class="venobox preview-link" title="Chalet et Caviar"><i class="bx bx-plus"></i></a>
                            <a href="#" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-img"><img src="{{ asset('build/images/portfolio/Snowtrick_Accueil.png') }}" class="img-fluid" alt="Snowtricks"></div>
                        <div class="portfolio-info">
                            <h4>Snowtricks</h4>
                            <p>Site communautaire sur le snowboard</p>
                            <a href="{{ asset('build/images/portfolio/Snowtrick_Accueil.png') }}" data-gall="portfolioGallery" class="venobox preview-link" title="Snowtricks"><i class="bx bx-plus"></i></a>
                            <a href="#" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-img"><img src="{{ asset('build/images/portfolio/Accueil_Le_Souvenir_Franco_Polonais.png') }}" class="img-fluid" alt="Le Souvenir Franco-Polonais"></div>
                        <div class="portfolio-info">
                            <h4>Le Souvenir Franco-Polonais</h4>
                            <p>Site de l'association</p>
                            <a href="{{ asset('build/images/portfolio/Accueil_Le_Souvenir_Franco_Polonais.png') }}" data-gall="portfolioGallery" class="venobox preview-link" title="Le Souvenir Franco-Polonais"><i class="bx bx-plus"></i></a>
                            <a href="#" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-img"><img src="{{ asset('build/images/portfolio/Marketing_Digital_Escg_Paris.png') }}" class="img-fluid" alt="Maketing Digital"></div>
                        <div class="portfolio-info">
                            <h4>Maketing Digital</h4>
                            <p>Site de la formation Marketing Digital</p>
                            <a href="{{ asset('build/images/portfolio/Marketing_Digital_Escg_Paris.png') }}" data-gall="portfolioGallery" class="venobox preview-link" title="Maketing Digital"><i class="bx bx-plus"></i></a>
                            <a href="#" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                </div>

            </div>
        </section>
        <!-- End My Portfolio Section -->
{% endblock %}