<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <!-- META -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="robots" content="index, follow">
        <meta name="description" content="Developpeur Symfony. Développement d'application web">
        <meta name="keywords" content="developpeur,symfony,php,logiciel,web,solution">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('build/images/favicon.png') }}">
        {{ encore_entry_link_tags('app') }}
        <title>{% block title %}Jérôme Sauvage{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    </head>
        {% include('navbar/navbar.html.twig') %}
    <body>
        {% block body %}{% endblock %}
        {{ encore_entry_script_tags('app') }}
        {% include('footer/footer.html.twig') %}
        <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/AmauriC/tarteaucitron.js@V1.2/tarteaucitron.min.js"></script>
        <script type="text/javascript">
            tarteaucitron.user.gtagUa = '{{ ga_tag }}';
            tarteaucitron.user.gtagMore = function () {};
            (tarteaucitron.job = tarteaucitron.job || []).push('gtag');
        </script>
        <script type="text/javascript">
            tarteaucitron.init({
                "hashtag": "#JeromeSauvage", /* Open the panel with this hashtag */
                "cookieName": "developpeur_php", /* Cookie name */
                "orientation": "bottom", /* Banner position (top - bottom) */
                "showAlertSmall": false, /* Show the small banner on bottom right */
                "cookieslist": true, /* Show the cookie list */
                "adblocker": true, /* Show a Warning if an adblocker is detected */
                "AcceptAllCta" : true, /* Show the accept all button when highPrivacy on */
                "highPrivacy": true, /* Disable auto consent */
                "handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */
                "removeCredit": false, /* Remove credit link */
                "moreInfoLink": true, /* Show more info link */
                "useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */
                //"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */
                "readmoreLink": "/cookiespolicy" /* Change the default readmore link */
            });
            window.tarteaucitronForceLanguage = 'fr';
        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
